html,
body,
.App,
#root {
  margin: 0;
  height: 100%;
}

.test {
  height: 140vh;
}

.homePage {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
  justify-content: space-evenly;
  background-color: rgb(225, 225, 225);
  height: 100%;
}

.itemCard {
  background-color: rgb(255, 255, 255);
  height: 290px;
  width: 220px;
  border-radius: 5px;
  border: 1px solid rgb(225, 225, 225);
}

.infoDiv {
  border-top: 2px solid rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.nameDiv {
    min-height: 36px;
}

.imgDiv {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgDiv > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.nameDiv {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

.addCartBtnDiv > button {
  width: 100%;
  height: 30px;
  background-color: aquamarine;
}
