.navBar {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: aquamarine;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    /* width: 100%; */
}

h3 {
    margin: 0;
}

.links {
    display: flex;
    gap: 10px;
}

.links > a {
    text-decoration: none;
    color: inherit;
}

.numOfItems {
    height: 20px;
    width: 20px;
    background-color: rgb(93, 241, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.loginButton {
    display: flex;
    flex-direction: column;
}

